
h1{color: deeppink;
    width: 1000px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    text-align: center;}

head{font-size: 100px;}

body{ p{color: indigo;}
color: gold;
.urmom{font-size: 50px;} }