ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

li {
  float: left;
  position: sticky;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  position: sticky;
}

.title {
  width: 100px;
  min-height: 50px;
  position: sticky;
}

.quotations {
  width: 89px;
  min-height: 40px;
  position: sticky;
}

.golb {
  height: 100px;
  width: 50px;

  margin-top: 3%;
}

body {
  background-image: url(/graphics/Casper_and_Nova_Titlecard.webp);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

a {
  color: #FFFFFF;
}

p {
  position: relative;
  font-family: "Kode Mono";
  margin-top: 5%;
  margin-right: 400px;
  margin-bottom: 6%;
  font-size: 45px;
  text-shadow: 1px 1px 2px rgb(115, 27, 94), 0 0 1em rgb(77, 63, 141), 0 0 0.2em rgb(28, 22, 195);
  background-color: rgba(26, 40, 40, 0.783);
  padding-left: 10px;

}

button {
  background-color: peru;
  color: darkgoldenrod;
  height: 36px;
  border-radius: 2px;
  cursor: pointer;
}

.firstpage {
  display: relative;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border-radius: 75px;
  font-family: monospace;
  background-color: rgba(138, 103, 255, 0.172);
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  margin-bottom: 15%;
}

div:hover::before,
div:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 200px;
  height: 50px;
  background: #cfbcfbdc;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

div:hover:after {
  background: #2b2b6cba;
  animation: 2s counterclockwise infinite;
  margin-bottom: 30%;
  height: 50px;
  width: 200px;
}



.start {
  font-family: "Kode Mono";
  margin-left: 1%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  justify-content: center;
  display: inside;
  font-size: 45px;
  background-color: rgba(62, 75, 83, 0.051);
  color: rgb(255, 255, 255);
  text-shadow: #FFFFFF 1px 0 5px;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border-color: #FFFFFF;
  cursor: pointer;
  transition: background-color .5s;
  line-height: 10px;
  margin-bottom: 15%;
}

.start:hover {
  background-color: rgb(255, 255, 255);
  border-color: #FFFFFF;
  border-width: 0cap;
  text-shadow: #d737ff 1px 0 10px;
  margin-bottom: 15%;
  line-height: 10px;
}

.start:active {
  background-color: azure;
  margin-bottom: 15%;
}

.casper {
  margin-top: 15%;
  margin-left: 600px;
  background-color: peru;
  color: rgb(255, 232, 173);
  height: 36px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .5s;
  margin-bottom: 15%;
}

.casper:hover {
  background-color: rgb(131, 26, 26);
}

.casper:active {
  background-color: azure;
}

.nova {
  background-color: rgb(7, 145, 131);
  color: rgb(255, 232, 173);
  height: 36px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .5s;
}

.nova:hover {
  background-color: rgb(22, 71, 86);
}

.nova:active {
  background-color: azure;
}

img {
  width: 300px;

}

.page1pics {
  position: relative;
  width: 43.5%;
}

.cited {
  margin-top: 25%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #3c165c81;

  .cite {
    background: #213e4d96;
    color: rgb(20, 20, 69);
    margin: 5px;
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

@function set-color($bg-color) {
  @if (lightness($bg-color) > 30) {
    @return #000;
  }

  @else {
    @return #FFF;
  }
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  margin-bottom: 4rem;

}

&:before {
  width: calc(100% + 2px);
  height: 100%;
  z-index: 1;
  transition: height 1s ease, opacity .8s ease;

}

&:after {
  height: calc(100% + 2px);
  width: 100%;
  z-index: 1;
  transition: width 1s ease, opacity .8s ease;

}

&:hover,
&:focus {
  &:before {
    transition: height .2s ease, opacity .3s ease;
    height: 85%;
    opacity: .7;

  }

  &:after {
    transition: width .2s ease, opacity .3s ease;
    width: 85%;
    opacity: .8;
  }
}

@keyframes animationHeight {
  0% {
    height: 100%;
    opacity: 1;
  }

  5% {
    height: 85%;
    opacity: .95;
  }

  60% {
    opacity: .5;
  }

  100% {
    height: 0;
  }
}

@keyframes animationWidth {
  0% {
    width: 100%;
    opacity: 1;
  }

  5% {
    width: 85%;
    opacity: .9;
  }

  60% {
    opacity: .6;
  }

  100% {
    width: 0;
  }
}